.user-avater {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.checkbox-select-all-options {
  width: 140px;
  margin: 0 16px;
  text-align: center;
}

.search-input {
  height: 30px;
  width: 150px;
  font-size: 14px;
}

.search-btn {
  height: 30px;
  width: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* Cấu trúc chung cho layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Đảm bảo chiều cao của wrapper bao phủ toàn bộ màn hình */
}

.content-container {
  padding-bottom: 200px;
}

.content {
  flex: 1;
  /* Đẩy footer xuống cuối trang */
}

footer {
  /* display: none; */
  position: fixed;
  bottom: 0;
  line-height: 50px;
  text-align: center;
}

.footer {
  background-color: #f8f9fa;
  padding: 5px 0;
  width: 100%;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  margin: 10px 0;
}

.footer-left p,
.footer-right p {
  margin: 0;
  font-size: 14px;
  color: #FFFFFF;
}

.footer-center ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer-center li {
  display: inline;
}

.footer-center a {
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
}

.footer-center a:hover {
  text-decoration: underline;
}

.card-container {
  margin-top: 30px;
}

.card-course-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-btn {
  display: flex;
  justify-content: center;
}

.course-btn .btn {
  margin: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-center ul {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {

  .footer-left p,
  .footer-right p {
    font-size: 12px;
  }

  .footer-center a {
    font-size: 12px;
  }
}