<link rel="stylesheet" href="/css/cart.css" />

<div class="container">
    <h2 class="cart-title">Courses Cart</h2>
    <div class="cart">
        <div class="courses">
            <div class="course">
                <img src="/images/logo-tdtu.jpg" alt="course-image" />
                <div class="course-info">
                    <h3 class="course-name">Nodejs</h3>
                    <h4 class="coruse-level">Expert</h4>
                    <p class="course-description">dasdasdasdasdasdasdasdas</p>
                    <p class="course-remove">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span class="remove">Remove</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-total">
        <p>
            <span>Total Price</span>
            <span>3,000</span>
        </p>
        <p>
            <span>Number of Courses</span>
            <span>2</span>
        </p>
        <a href="#">Proceed to Checkout</a>
    </div>
</div>
